header {
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
}

header h1 {
    margin:0;
    font-size: 4rem;
    color: white;
}

header p {
    font-weight: 700;
    color: white;
    font-size: 1.75rem;
    margin-bottom: 40px;
}

header a {
    box-shadow: 0 3px 3px 0 rgba(0,0,0.1);
    font-weight: 700;
    background-color: #1d809f; 
    color: white;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    display: inline-block;
}