nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d809f;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    align-items: center;padding:0;
}

nav ul li {
    display: inline-block;
    margin-right: 8px;
}

nav ul li a {
    box-shadow: 0 3px 3px 0 rgba(0,0,0.1);
    font-weight: 700;
    background-color: #1d809f; 
    color: white;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    display: inline-block;
    margin: 5px auto;
    min-width: 130px;
}

nav ul li a:hover {
    background-color:white;
    color:#1d809f;
}


.logo {
    font-size: 30px;
    color: white;
}